<nav class="navbar bg-white">
    <div class="container">
        <h4> Employee<span class="text-primary">Portal<span></h4>
        <div>
            <%= link_to "New Employee", new_employee_path, class:"btn btn-primary btn-sm" %>
        </div>
    </div>
</nav>